/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 7, 2017, 5:12:52 PM
    Author     : Jin Toples
*/

@font-face {
    font-family: 'swiss2';
    src: url('../fonts/Swiss721BT_1.ttf')  format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'Lato-bold';
    src: url('../fonts/lato/Lato-Bold.ttf')  format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-light';
    src: url('../fonts/lato/Lato-Light.ttf')  format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'open-sans';
    src: url('../fonts/open-sans/OpenSans-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'Carnas';
    src: url('../fonts/carnas/Carnas Regular.otf')  format('truetype');
}
@font-face {
    font-family: 'Carnas-bold';
    src: url('../fonts/carnas/Carnas Bold.otf')  format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Carnas-light';
    src: url('../fonts/carnas/Carnas Light.otf')  format('truetype');
    font-weight: lighter;
    font-style: normal;
}
body{
    background-color: #08a3bf;
    background-image: url('../images/templates/bg.jpg');
    min-width: 300px;
    font-family: 'Carnas';
}
.body-bg-grey{
    background: #f0f0f0;
}
.header {
    background: #fff;
}
.header .navbar-brand{
    display: table;
    padding: 0px 0px;
    width: 100%;
}
.header .navbar-brand img{
    margin: auto;
    max-height: 33px;
}
.header .navbar{
    margin-bottom: 0px;
    border-radius: 0px;
}
.header .nav-menu{    
    background: #242c65;
    border: 0px;
}
.header .nav-menu .navbar-nav>li>a{
    color: #242c65;
    padding: 15px 45px;
}
.header .nav-menu .nav>li>a,
.header .nav-menu .nav>li>a:focus, 
.header .nav-menu .nav>li>a:hover,
.header .nav-menu .nav>li.active>a{background: #fff;
                                   border: 1px solid #c3c3c3;
}
.header .nav-menu .nav>li>a:focus, 
.header .nav-menu .nav>li>a:hover, 
.header .nav-menu .nav>li.active>a {
    font-weight: bold;
}
.btn-link, .btn-reguler{
    font-size: 13px;
    text-decoration: none !important;
    text-align: center;  
    padding: 11px 46px;  
    color: #fff;
    background: #acacac;
}

.btn-login{
    background-color: #0c74b9;
    color: #fff !important;
    height:50px
}
.btn-login:hover, .btn-login:focus{
    background: #135480;
}

.btn-reguler{
    border: 0px;
}
.btn-orange{
    background-color: #f23f02;
    color: #fff;
}
.btn-orange:hover, .btn-orange:focus{
    background-color: #cd4719;
    color: #fff;
}
.btn-full{
    display: block;
    width: 100%;
}
.btn-large{
    padding: 22px 46px;
}
.btn-pure-yellow{
    background-color: #f47b21;
    color: #fff !important;
}
.btn-pure-yellow:hover, .btn-pure-yellow:focus{
    background: #cd5700;
}
.btn-red{
    background-color: #f20219;
    color: #fff !important;
}
.btn-red:hover, .btn-red:focus{
    background: #970816;
}
.btn-choco{
    background-color: #ad520e;
    color: #fff !important;
}
.btn-choco:hover, .btn-choco:focus{
    background: #743200;
}
.btn-red-blood{
    background-color: #9e0110;
    color: #fff !important;
}
.btn-red-blood:hover, .btn-red-blood:focus{
    background: #3d050b;
}
.btn-tomato{
    background-color: #ed4b30;
    color: #fff !important;
}
.btn-tomato:hover, .btn-tomato:focus{
    background: #b41a00;
}
.btn-blue{
    background-color: #116FB7;
    color: #fff !important;
}
.btn-blue:hover, .btn-blue:focus{
    background: #104f80;
}
.btn-blue2{
    background-color: #08a3bf;
    color: #fff !important;
}
.btn-blue2:hover, .btn-blue2:focus{
    background: #0e6b7c;
}
.btn-border-white{
    background-color: #fff;
    color: #464646 !important;    
    border: 1px solid #0673b8;
}
.btn-border-white:hover, .btn-border-white:focus{
    background: #ececec;
    border: 1px solid #0673b8;
}
.btn-grey{
    background-color: #dadada;
    color : #848484 !important;
}
.btn-green{
    background-color: #00a651;    
}
.btn-reguler[disabled]{
    background-color:#dadada;
    color: #848484;
}
.header .motto-right{
    margin: 10px 0px;
    text-align: center;
}
.row2{
    margin-right:0px;
    margin-left:0px;
}
.row3{
    padding-left:0px;
}
.header .navbar-right{
    margin-right: 0px
}
.header .navbar-right span{
    color: #ec1e30;
    margin-right: 45px;
    font-size: 18px;
    font-weight: 500;
}
.header-content{
    background: #fff;
    padding: 15px 0px;
}
.header-content h3{
    font-size: 22px;
    margin: 0px;
}
.header .navbar-brand {
    display: table;
    padding: 20px 15px;
    width: 100%;
}
.header .motto-right{
    margin: 25px 0px;
    text-align: center;
}
.container-content{
    /*padding: 30px 0px;*/
}
.content{
    background: #fff;
    padding: 15px 30px;
    box-shadow: 8px 0 15px -4px #d2d2d2, -8px 0 8px -4px #d2d2d2;
    position: relative;
}
.content>.title{
    font-size: 25px;
    margin: 0px;
    color: #242c65;
    margin-bottom: 15px;
}
.alert{
    border-radius:0px;
}
.alert-blue{
    border-left: 4px solid #c60b18;
    background: #f5f6fd;
    display: table;
    width: 100%;
}
.alert-blue-no-border{
    background: #b4ecf6;
    display: table;
    width: 100%;
}
.alert-red{
    border-left: 4px solid #ea4949;
    display: table;
    width: 100%;
}
.alert-red-full{
    background: #fdb1a0;
}
.alert-content .images{
    float: left;
}
.alert-content .title{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lato-bold';
    margin:15px 0px;
}
.alert-content .desc{
    margin-left: 30px;
    float: left;
}
.alert-content .desc p{
    margin: 0px;
    font-size: 15px;
    font-family: 'Lato-light';
}
.no-margin{
    margin: 0px !important;
}
.login-container{
    padding: 24px 0px;  
    background-color: #08a3bf;
    background-image: url('../images/templates/bg.jpg');
    min-height: 550px;
}
.login-content{
    padding: 0px 45px;
    position: relative;
}
.login-image .title{
    color: #ffffff;
    font-family:'swiss2';
    font-weight:bold;
    font-size:30pt;
    margin-top:0px;
}

.login-image .desc{
    color: #ffffff;
    font-family:'Lato';
    font-size:11pt;
    margin-bottom:10px;
}

.login-content .tagline{
    color: #ffffff;
    font-size: 15px;
    font-family: 'Lato-light';
}
.login-content .login-image{
    float: left;
    margin-top: 0px;
}
.login-content .login-panel{
    float: right;
    background: #fff;
    padding:80px 50px 0px 50px;
    height:439px;
}
.login-panel .title{
    font-size: 17pt;
    color: #00a0bc;
    margin-bottom: 10px;
    font-family:'Lato';
}

.container2 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width: 576px) {
    .container2 {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container2 {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container2 {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container2 {
        max-width: 1140px;
        padding-right:100px;
        padding-left:100px;
    }
}

.footer{
    min-height: 55px;
    background: #09090a;
    color: #fff;
    padding: 17px 0px;
    font-size: 11px;
    font-family: 'open-sans';
    text-align: center;
}
.footer p{
    margin: 0px;
}
.footer .row .col-md-4{
    min-height: 100px;
    border-right: 1px solid #959595;
}
.footer .row .col-md-4:last-of-type{
    border-right: 0px;
}
.footer .first>p:first-of-type{
    margin-top: 20px;
}
.footer .middle>p:first-of-type{
    margin-top: 40px;
}
.footer .last>p:first-of-type{
    margin-top: 30px;
}
.form-control{
    border-radius: 0px;
    border-color: #aeaeae;
    font-size: 13px
}
.form-login .form-control{
    height: 45px;
    margin-bottom: 25px;    
}
.form-login label{
    color:#898989;
    font-size: 14px; 
    font-weight: normal;
}
.form-content .control-label{
    font-size: 13px;
    font-weight: normal;
}
.panel-content{
    border-radius: 0px;
    border: 0px;
    box-shadow: none;
}
.panel-content .panel-heading{
    border-radius: 0px;    
    padding: 10px 80px;
}
.panel-head-grey{
    background: #f0f0f0;
    font-family: 'Lato-bold';
    font-size: 17px;
}
.table-info tbody>tr>td{
    border-color: #b9b7b9;
    padding: 10px 20px;
}
.table-info .title-info-animo{
    color: #08a3bf;
    font-weight: bold;
    text-align: right;
}
.overflow-container{
    overflow: auto;
}
.online-payment{
    background: #feffed;
    display: inline-block;
    border: 1px solid #9b9d71;
}
.online-payment:hover, .online-payment:focus{
    background: #fbffb3;
}
.offline-payment{
    background: #e6fedf;
    display: inline-block;
    border: 1px solid #57864a;
}
.offline-payment:hover, .offline-payment:focus{
    background: #acf398;
}
.confirmation-payment{
    background: #ffedf0;
    display: inline-block;
    border: 1px solid #8d525c;
}
.confirmation-payment:hover, .confirmation-payment:focus{
    background: #f7bbc5;
}
.box-border{
    border: 1px solid #a8a8a8;
    padding: 15px 30px;    
    margin: 0px;
}
.row-desc{
    border-bottom: 1px solid #a8a8a8;
    padding: 15px 0px;
    font-size: 15px;
    margin: 0px;
}
.payment-method a{
    margin-bottom: 15px;
    text-decoration: none !important;
}
.payment-method-text{
    margin: 30px 0px 15px 0px;
    font-size: 14px;
}
.payment-chanel .radio label{
    width: 100%;
    margin-bottom: 20px;
}
.text-blue{
    color:#00a0bc;
}
.text-blue-dark{
    color: #03548a;
}
.text-blue-metal{
    color: #0673b8;
}
.text-green{
    color: #00a651;
}
.text-green-soft{
    color:#00a0bc;
}
.text-red{
    color: #F3565D;
}
.text-orange{
    color: #dfba49;
}
.row-desc .name{
    font-family: 'Lato-bold';
}
.row-desc .time{
    font-size: 12px;
}
.payment-detail{
    margin-top: 20px;
    border: 1px solid #eaeaea;
    border-radius: 0px;
}
.payment-detail .panel-heading{
    background: #eaeaea;
    font-weight: bold;
}
.line-grey{
    border-color: #a9a9a9;
}
.line-blue{
    border-color: #0673b8;    
}
.line-grey-light{
    border-color: #bababa;
}
.payment-total{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lato-bold';
}
.button-payment button{
    margin-bottom: 10px;
}
.payment-instrucion-head{
    font-size: 20px;
}
.payment-instrucion-tab .nav-tabs>li>a{
    border-radius: 0px;
    text-align: center;
    color:#333333;
    margin-right: 0px;
    border: 0px !important;
    background: #e8f2f4;
    font-size: 14px;
}
.payment-instrucion-tab .nav-tabs>li.active>a,
.payment-instrucion-tab .nav-tabs>li>a:hover,
.payment-instrucion-tab .nav-tabs>li>a:focus{
    background: #00a0bc;
    color: #fff;
}
.payment-instrucion-tab .nav-tabs>li{
    width: 50%;
}
.payment-instrucion-tab .nav-tabs{
    border: 0px;
}
.tab-panel-content{
    padding: 15px;
}
.menu-info a .icon-menu{
    width: 50px;
    float: left;
}
.menu-info a span{
    float: left;
    text-align: center;
    color: #363636;
    margin-top: 6px;
    margin-left: 6px;
}
.menu-info a{
    display: table;
    background: #f1f1f1;
    padding: 8px 15px;
    border: 1px solid #aeaeae;
    float: left;
    width: 16.667%;
    font-size: 12px;
}
.menu-info{
    width: 100%;
    display: table;
    margin-bottom: 20px;
}
.menu-info a.menu-info-purple{
    background: #cbbfd8;
}
.menu-info a.menu-info-pink{
    background: #f4d8d2;
}
.menu-info a:hover, .menu-info a:focus{
    background: #d5e4e7;
}
.menu-info.menu-info-dash{
    margin-bottom: 5px;
}
.menu-info.menu-info-dash a{
    width: 100%;
    text-align: center;
    background: #e8f2f4;
}
.menu-info.menu-info-dash a:hover, .menu-info.menu-info-dash a:focus{
    background: #cfe9ef;
    text-decoration: none !important;
}
.menu-info.menu-info-dash a .icon-menu{
    float: none;
}
.menu-info.menu-info-dash a span{
    float: none;
    font-weight: bold;
}
.tab-info .nav-tabs{
    border-bottom: 0px;
}
.tab-info .nav-tabs>li{
    width: 33.3333333%;
    margin-bottom: 0px;
}
.tab-info .nav-tabs>li>a{
    border: 0px;
    color: #363636;
    border-radius: 0px;
    text-align: center;
    background: #b5b5b5;
    margin-right:0px;
}
.tab-info .nav-tabs>li.active>a, 
.tab-info .nav-tabs>li.active>a:focus, 
.tab-info .nav-tabs>li.active>a:hover{
    border: 0px; 
}
.tab-info .nav-tabs>li.active>a{
    background: #363636;
    color:#fff;
}
.tab-info .nav-tabs>li.tab-red>a{
    background: #e51d1d;
    color:#fff;    
}
.no-right-border{    
    border-right-color :transparent !important;
}
.no-left-border{    
    border-left-color :transparent !important;
}
.no-side-border{
    border-left-color :transparent !important;
    border-right-color :transparent !important;
}
.add-right-border{
    border-right: 1px solid #a8a8a8 !important;
}
.alert-blue-green{
    background: #c1d7df;
    color:#007236;
}
.alert-grey-green{
    background: #d7d7d7;
    color:#04778c;
    /*border-radius: 15px;*/
}
.tab-info .title-info{
    font-size: 15px;
    font-family: 'Lato-bold';
    width: 200px;
}
.table-test{
    min-width: 300px;
}
.table-test>thead>tr>td, .table-test>thead>tr>th{
    background: #aeaeae;
    border-color: #aeaeae;
    color: #fff;
    text-align: center;
    border-bottom: 0px;
}
.list-schedule-title{
    font-size: 18px;
    font-weight: bold;
    padding: 0px 20px;
}
.test-result h4{
    font-family: 'Lato-bold';
    font-size: 28px;
}
.print-blue{
    background: #82c3ed;
    border: 1px solid #61849b;
    padding: 15px 60px;
    display: inline-block;
    color: #0b2c41;
    text-decoration: none !important;
}
.print-blue:hover, .print-blue:focus{
    color: #fff;
    background: #0b2c41;
}
.print-orange{
    background: #f7941d;
    border: 1px solid #886e4e;
    padding: 15px 60px;
    display: inline-block;
    color: #0b2c41;
    text-decoration: none !important;
}
.print-orange:hover, .print-orange:focus{
    color: #fff;
    background: #ff6000;
}
.fileinput{
    margin-bottom: 0px !important;
}
.fileinput .btn-file {
    color: #333;
    background-color: #E5E5E5;
    border-radius: 0px !important;
}
.fileinput .thumbnail {
    border-radius: 0px;
}
.panel-form{
    padding: 15px 80px;
}
.tab-biodata .nav-tabs>li>a{
    border-radius: 0px;
    border: 0px;
    z-index: 1;
    background: transparent;
    margin: 0px;
    color: #363636;
    text-align: center;
    padding: 0px;
}
.tab-biodata .tab-icon{
    background: #e3e7e8;
    color: #7d7d7d;
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 40px;
}
.tab-biodata .nav-tabs>li.active>a, 
.tab-biodata .nav-tabs>li.active>a:focus, 
.tab-biodata .nav-tabs>li.active>a:hover{
    border: 0px;    
}
.tab-biodata .nav>li>a:focus, 
.tab-biodata .nav>li>a:hover{
    background: transparent;    
    cursor: pointer;
}
.tab-biodata .nav-tabs>li{
    margin: 0px;
    width:16.66%;
}
.tab-biodata .tab-text{
    margin: 15px 0px;
    font-size: 12px;
}
.connecting-line{
    height: 2px;
    background: #c9d2d4;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20px;
    z-index: -1;
}
.tab-biodata .nav-tabs>li.active>a .tab-icon, 
.tab-biodata .nav-tabs>li.active>a .connecting-line{
    background: #00a0bc;
    color: #fff;
}
.tab-biodata .nav-tabs>li.active>a .tab-text{
    color: #00a0bc;
}
.tab-biodata .nav-tabs>li.tab-left>a .connecting-line{
    width: 50%;
    left: 50%;
}
.tab-biodata .nav-tabs>li.tab-right>a .connecting-line{
    width: 50%;
    right: 50%;
}
.tab-biodata .nav-tabs{
    border-bottom: 0px;
}
.tab-biodata{
    margin-bottom: 20px;
}
.acv-block{
    border: 1px solid #e4e4e4;
    padding: 15px;
    font-size: 12px;
    margin-bottom: 15px;
}
.acv-icon{
    text-align: center
}
.acv-icon i{
    font-size: 80px;
    color: #f9bd41;
}
.acv-title{
    font-size: 14px;
    font-weight: bold;
}
.action-btn{
    padding: 5px 10px;
    background: #f5f1f1;
    border: 1px solid #797676;
    display: inline-block;
    margin-right: 5px;
    text-decoration: none !important;
}
.edit-green{
    color: #1e7124;
    border-color: #1e7124;
}
.edit-green:hover, .edit-green:focus{
    color:#fff;
    background: #1e7124;
}
.delete-red{
    color: #a80c2f;
    border-color: #a80c2f;    
}
.delete-red:hover, .delete-red:focus{
    background: #a80c2f;
    color: #fff;
    border-color: #a80c2f;
}
.acv-add-icon{
    text-align: center;
}
.acv-add-icon{
    color: #39b54a;
}
.acv-add-icon i{    
    font-size: 50px;
}
.acv-add-icon:hover, .acv-add-icon:focus{
    color: #f9bd41;
}
.btn-with-margin button{
    margin-bottom: 10px;
}
.terms-list li{
    margin-bottom: 15px;
    padding-left: 20px;
    font-size: 13px;
}
.table-fee tbody>tr>td{
    padding: 20px;
    border: 0px;
}
.panel-padding-side-30{
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.payment-method-fee img{
    width: 220px;
    height: 80px;
}
.payment-method-fee a{
    margin: 10px;
}
.terms-legend{
    font-size: 12px;
}
.terms-legend img{
    margin-bottom: 12px;
    margin-right: 2px;
}
.input-disable{
    border: 0px;
    box-shadow: none;
    background: #e1e1e1;
    color:#2c2727;
}
.form-validation .error {
    color: #a94442;
    border-color: #a94442 !important;
}
.nilai-rapor thead tr th{
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd !important;
}    
.rapor_score{
    text-align: center;       
    border: 1px solid;
}
.rapor-rank{
    border: 0px !important;
    text-align: center;
    width: 100%;
}
.label-rank{
    font-size: 14px;
    font-weight: bold;
}
.rank-score{
    color: #E87E04;            
}
.rank-result{
    color: #3FABA4;
    font-size: 16px;
}
.loader {
    width: 100%;
    text-align: center;
    padding: 10px;
    position: relative;
    z-index: 100;
    top: 0;
    background: rgba(255, 255, 255, 0.36);
    height: 100%;
}
.loader img{padding-top: 80px;}

.line-tab .nav-tabs {
    border-bottom: 2px solid #707070;
    padding: 0px 25px;
}
.line-tab.reg-tab .nav-tabs>li {
    width: 50%;
}
.line-tab .nav-tabs>li {
    margin-bottom: -4px;
    text-align: center;
}
.line-tab .nav-tabs>li.active{
    border-bottom: 4px solid #fff;
}
.line-tab .nav-tabs>li.active a{
    color:#c60b18;    
}
.line-tab .nav-tabs>li>a {
    border-radius: 0px;
    margin: 0px;
    color: #313131;
    font-weight: bold;
    white-space: nowrap;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.line-tab .nav>li>a:focus, .line-tab .nav>li>a:hover{
    background: #fff;
    border-top: 0px;
    border-bottom: 0px;
    color:#c60b18;    
}
.line-tab.reg-tab .nav-tabs>li>a{
    padding: 25px 50px;    
}
.line-tab.bio-tab .nav-tabs>li {
    width: 33.33%;
}
.line-tab.bio-tab .nav-tabs>li>a{
    padding: 20px 50px;    
}
.cont-line-tab .collapse-button {
    border: 1px solid #b7b7b7;
    display: table;
    width: 100%;
}
.cont-line-tab .collapse-button .navbar-toggle .icon-bar{
    background: #898989;
}
.no-decoration{
    text-decoration: none !important;
}
option:disabled {
    color : #e45050;
}
.bg-label {
    padding: 2px 8px;
}

.img-login{ 
    display: block;
    max-width: 100%;
    width:530px;
    height:335px;
}

@media (max-width: 1200px){
    .menu-info a .icon-menu{
        margin: auto;
        display: block;
        float:none
    }
    .menu-info a span{
        display: block;
        float: none;
        margin-left: 0px;
    }
    .img-login{
        width:500px;
        height:325.5px;
    }
}
@media (max-width: 992px){
    .login-content .login-image img.pic{
        display: none;
    }    
    .login-content .login-image{
        margin-top: 0px;
    }
    .login-container {
        padding: 20px 0px;
    }
    .login-content .login-panel{
        min-height:0px;
        padding: 60px 25px;
    }
    .login-panel .title{
        margin-bottom: 20px;
    }
    .footer .row .col-md-4{
        border-right: 0px;
        min-height:0px;
    }

    .cont-line-tab .nav-tabs {
        padding: 0px;
        border-right: 1px solid #898989;
        border-left: 1px solid #898989;
        border-top: 0px;
    }
    .line-tab .nav-tabs>li {
        width: 100% !important;
        margin-bottom: 0px;
    }
    .img-login{
        display:none;
    }
}
@media (max-width: 768px){
    .header .motto-right{
        margin: 0px 0px 10px 0px;
        padding: 0px 15px;
        text-align: center;
    }
    .header .motto-right .btn-orange{
        display: block;
    }
    .header .motto-right span{
        margin-right: 0px;
    }    
    .login-content .login-image, .login-content .login-panel{
        width: 100%;
    }
    .login-content {
        padding: 0px 31px;
    }
    .login-image .logo{
        width: 110px;
    }
    .login-content .title{
        font-size: 24px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .login-content .login-panel{
        padding: 55px 25px;
        min-height:0px;
    }
    .panel-content .panel-heading{
        border-radius: 0px;    
        padding: 10px 15px;
    }
    .alert-content .images{
        float:none;
        width:  80px;
    }
    .alert-content .desc{
        margin-left: 0px;
        float:none;
    }
    .menu-info a{
        width: 50%;
    }
    .tab-info .nav-tabs>li{
        width:100%;
    }
    .table-info tbody>tr>td{
        padding: 10px;
    }   
    .payment-instrucion-tab .nav-tabs>li{
        width: 100%;
    }
    .box-border{
        padding: 15px 15px;    
    }
    .print-blue, .print-orange{
        padding: 15px 15px;
    }
    .tab-biodata .nav-tabs>li{
        width: 100%;
    }
    .tab-biodata .nav-tabs>li.tab-left>a .connecting-line,
    .tab-biodata .nav-tabs>li.tab-right>a .connecting-line{
        width: 100%;
        left: 0px;
    }
    .panel-form{
        padding: 15px 15px;
    }   
    .btn-float-and-full button{
        float: none !important;
        width: 100%;
    }
    .table-fee tbody>tr>td{
        padding: 10px;
    }
    .content{
        padding: 30px 25px;
    }
    .header .motto-right .btn-link{
        display: block;
        margin-bottom: 5px;
    }   
    .footer .row .col-md-4{
        min-height: 0px;
    }
    .footer .first>p:first-of-type, .footer .middle>p:first-of-type, .footer .last>p:first-of-type{
        margin-top: 0px;
    }
    .header .navbar-right {
        margin-right: -15px;
    }
}


/* Start by setting display:none to make this hidden.
Then we position it in relation to the viewport window
with position:fixed. Width, height, top and left speak
for themselves. Background we set to 80% white with
our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
        url('/assets/images/loader.gif')
        50% 50% 
        no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {  
    overflow: hidden; 
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
} 

/*progress button*/

.progres-btn {
    transition: all 0.4s ease;
}
.progres-btn:not(.active) {
    cursor: pointer;
}

.progres-btn .progres {
    width: 0%;
    z-index: 5;
    background: #D32F2F;
    opacity: 0;
    transition: all 0.3s ease;
}
.progres-btn.active .progres {
    opacity: 1;
    animation: progres-anim 10s ease 0s;
}
.progres-btn[data-progres-style='indefinite'].active .progres {
    animation: progres-indefinite-anim 1s infinite linear 0s;
}
.progres-btn[data-progres-style='fill-bottom'].active .progres, .progres-btn[data-progres-style='fill-top'].active .progres {
    height: 5px;
}
.progres-btn[data-progres-style='indefinite-circle'].active .progres {
    animation: dash 2s ease infinite,
        rotate 2s linear infinite;
}

.progres-btn[data-progres-style='indefinite-circle'].active {
    width: 50px;
    padding: 11px 0px;
    margin: auto;    
}

.progres-btn[data-progres-style='fill-back'] .progres {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.progres-btn[data-progres-style='fill-bottom'] .progres {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
}
.progres-btn[data-progres-style='fill-top'] .progres {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0;
}
.progres-btn[data-progres-style='indefinite'] .progres {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'50'%20height%3D'100'%20viewBox%3D'0%200%205%2010'%3E%0A%09%3Crect%20width%3D'110%25'%20x%3D'-5%25'%20y%3D'-5%25'%20height%3D'110%25'%20fill%3D'transparent'%2F%3E%0A%09%3Cline%20x1%3D'-2'%20y1%3D'1'%20x2%3D'7'%20y2%3D'10'%20stroke%3D'%23D32F2F'%20stroke-width%3D'2'%2F%3E%0A%09%3Cline%20x1%3D'-2'%20y1%3D'6'%20x2%3D'7'%20y2%3D'15'%20stroke%3D'%23D32F2F'%20stroke-width%3D'2'%2F%3E%0A%09%3Cline%20x1%3D'-2'%20y1%3D'-4'%20x2%3D'7'%20y2%3D'5'%20stroke%3D'%23D32F2F'%20stroke-width%3D'2'%2F%3E%0A%3C%2Fsvg%3E");
}
.progres-btn[data-progres-style='indefinite-circle'] .progres {
    width: 40px;
    height: 40px;
    background: transparent;
    position: absolute;
    top: 0px;
    left: calc(50% - 20px);
}
.progres-btn[data-progres-style='indefinite-circle'].active .btn-text {
    opacity: 0;
}
.circle-loader {
    fill: transparent;
    stroke: #eee;
    stroke-width: 5;
}
.loader2 {
    width: 100%;
    text-align: center;
    padding: 10px;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.36);
    height: 100%;
}

.loader2 img{padding-top: 50%;}

@keyframes dash {
    0% {
        stroke-dasharray: 1,95;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 85,95;
        stroke-dashoffset: -25;
    }
    100% {
        stroke-dasharray: 85,95;
        stroke-dashoffset: -93;
    }
}

@keyframes rotate {
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}

@keyframes progres-anim {
    0% {
        width: 0%;
    }
    5% {
        width: 0%;
    }
    10% {
        width: 15%;
    }
    30% {
        width: 40%;
    }
    50% {
        width: 55%;
    }
    80% {
        width: 100%;
    }
    95% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

@keyframes progres-indefinite-anim {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}