@font-face {
    font-family: 'Merchant Copy Doublesize';
    src: url('MerchantCopyDoublesize.eot');
    src: url('MerchantCopyDoublesize.eot?#iefix') format('embedded-opentype'),
        url('MerchantCopyDoublesize.woff2') format('woff2'),
        url('MerchantCopyDoublesize.woff') format('woff'),
        url('MerchantCopyDoublesize.ttf') format('truetype'),
        url('MerchantCopyDoublesize.svg#MerchantCopyDoublesize') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

